@tailwind base;
@tailwind components;
@tailwind utilities;






@layer base {
  :root {
    --background: 220, 14%, 96%;
    --dashboard-background:40, 27%, 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --flow-border-color-selected:240, 1.6%, 46.1%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --gradient-primary-start: #4F46E5;
    --gradient-primary-end: #7C3AED;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --text-primary: 220, 23%, 8%;
    --text-gray:#898989;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --text-primary-black: 220 20% 16%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --font-poppins: 'Poppins', sans-serif;
    --sidebar-background: 0, 0%, 7%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-background-secondary: 0, 1%, 15% ;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --color-1:240, 83%, 07%;
    --color-2: 240, 83%, 5%;
    --color-3: 240, 83%, 27%;
    --color-4: 240, 83%, 37%;
    --color-5: 240, 83%, 17%;

    --grid-gap-size: 12px;
    --grid-border-color: #e1e2e3;
    --content-max-width: 1280px;

  }
  .container-grid{
    
    
    display: grid
;
    grid-template-columns: 1fr [content-start] minmax(0, var(--content-max-width)) [content-end] 1fr;
    gap: calc(var(--grid-gap-size)* 2) 0;
    border-bottom: 1px solid var(--grid-border-color);
    padding-bottom: var(--grid-gap-size);
  }

  .container-grid>* {
    border-right: 1px solid var(--grid-border-color);
    border-left: 1px solid var(--grid-border-color);
    grid-column: content;
    padding: 0 var(--grid-gap-size);
}

  .container-grid>:first-child:before {
    border-top: none;
  }

  .container-grid>:before {
    
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-top: calc(var(--grid-gap-size)* -1);
    border-top: 1px solid var(--grid-border-color);
}
  .container-grid>:after {
    content: "";
    position: absolute;
    grid-column: content;
    width: calc(var(--content-max-width) + var(--grid-gap-size)* 2);
    max-width: 100%;
    height: calc(var(--grid-gap-size)* 2);
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    /* background-image: url(/cross.svg), url(/cross.svg); */
    background-position: 0, 100%;
    background-size: calc(var(--grid-gap-size)* 2);
    background-repeat: no-repeat;
}
.draggable-field {
  cursor: grab;
}

.draggable-field:active {
  cursor: grabbing;
}
  
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --text-primary-black: 220 20% 16%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 5%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --color-1: 234 89% 14%;
    --color-2:  234 89% 24%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  /* Dark theme background */
  .dark body {
    
   
    background-attachment: fixed;
  }

  /* Light theme background */
}





@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-primary text-foreground min-h-full;
    @apply font-poppins bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.curved-line {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: draw 2s ease-out forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.drag-overlay {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


